<div class="container-fluid w-75">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex justify-content-between align-items-center">
            <span>References</span>
            <a role="button" {{action "setSortProperty" "name"}}>
              <FaIcon @icon="sort"/>
            </a>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between align-items-center">
            <span>Organism</span>
            <a role="button" {{action "setSortProperty" "organism"}}>
              <FaIcon @icon="sort"/>
            </a>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between align-items-center">
            <span>Common Name</span>
            <a role="button" {{action "setSortProperty" "common_name"}}>
              <FaIcon @icon="sort"/>
            </a>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-between align-items-center">
            <span>Organization</span>
            <a role="button" {{action "setSortProperty" "organization"}}>
              <FaIcon @icon="sort"/>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedReferences as |ref|}}
      <LinkTo @route="references.reference" @model={{ref.name}} @tagName="tr">
        <td scope="row">{{ref.name}}</td>
        <td>{{ref.organism}}</td>
        <td>{{ref.common_name}}</td>
        <td>{{ref.organization}}</td>
      </LinkTo>
      {{/each}}

    </tbody>
  </table>
</div>
